<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <script type="text/javascript">
      var getUpdate = function() {
        websocket.send("cpu_speeds");
        setTimeout(getUpdate, 1000);
      }

      const websocket = new WebSocket("ws://localhost:3003/update");

      websocket.onopen = function(event) {
        getUpdate();
      }

      websocket.onmessage = function(event) {
        console.log(event.data);
        var cpu = JSON.parse(event.data);
        console.log(cpu[0] + '     ' + cpu[1]);
        if (cpu) {
          $("#cpu_" + cpu[0] + " .cpu-id").html(cpu[0]);
          $("#cpu_" + cpu[0] + " .cpu-usage").html(cpu[1] + "%");
        }
      }

      websocket.onclose = function(event) {
      }
    </script>
    <table>
      <thead>
        <tr>
          <th>Processor ID</th>
          <th>Usage</th>
        </tr>
      </thead>
      <tbody>
        <% usage && usage.each do |cpu, usage| %>
          <% next unless cpu %>
          <tr id="cpu_<%= cpu %>">
            <td class="cpu-id"><%= cpu %></td>
            <td class="cpu-usage"><%= usage %>%</td>
          </tr>
        <% end %>
      </tbody>
    </ul>
  </body>
</html>
